body {
    margin:0;
    padding:0;
    color:#444;
    font-family: 'Open Sans', sans-serif;
    font-size:100%;
    font-weight:400;
    background:#aaccee;
    position:relative;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    backface-visibility: hidden;
}

main,
section{
  background:#fff;
}

main{
  padding:2em 0 3em;
}

p{
  line-height: 1.5em;
  padding:0.3em 0;
  margin:0;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100%;
}

h1, h2{
    font-size:2.8em;
    line-height:1.2em;
    text-align:center;
    display:block;
    font-family: inherit;
    font-weight:600;
}

h1{
    text-transform:uppercase;
    color:inherit;
    font-size:1.6em;
    line-height:1.2em;
    font-weight:500;
    display:block;
}

h3{
    font-size:1em;
    padding:0;
    margin:0;
}

a{
	color:#46688a;
  text-decoration: underline;
}

input[type="text"],input[type="email"],input[type="password"],textarea{
    width:100%;
    padding:1em 0.7em;
    box-sizing: border-box;
    border:none;
    outline:1px solid #c7c7c7;
    color:#666;
    font-family:inherit;
    font-weight:inherit;
    display:block;
    font-size:0.9em;
}

.error{
  color:#ffa371;
}

textarea{
    resize:none;
}
